<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Saved{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="icon" href="/build/images/favicon.png">
        <link href="/build/css2/mdb.min.css" rel="stylesheet">
        <link href="/build/css2/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="build/css/base.css">
        
    </head>
   
    <body>
            {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
            {% block javascripts %}
            {% endblock %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="build/app.js"></script>
            </body>
</html>
