 <header>

     <!-- Navbar -->
     <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
         <div class="container-fluid">

             <!-- Brand -->
             <a class="navbar-brand waves-effect" href="" target="_blank">
                 <strong class="blue-text"></strong>
             </a>

             <!-- Collapse -->
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>

             <!-- Links -->
             <div class="collapse navbar-collapse" id="navbarSupportedContent">

                 <!-- Left -->
                 <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                         <a class="nav-link waves-effect" href="">Saisie
                             <span class="sr-only">(current)</span>
                         </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link waves-effect" href="" target="_blank">Récap annuel</a>
                     </li>    
                 </ul>
                 <ul class="navbar-nav nav-flex-icons">
                     <li class="nav-item">
                         <a class="nav-link waves-effect" target="_blank">Bonjour Stéphane </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link waves-effect" href="" target="_blank"> Déconnexion</a>
                     </li>
                     <li class="nav-item">
                         <div id="content">


                         </div>


                     </li>

                     </ul>

           
             </div>
             </div>
     </nav>
     <!-- Navbar -->

     <!-- Sidebar -->
     <div class="sidebar-fixed position-fixed">


         <div class="list-group list-group-flush">
             <a class="list-group-item active waves-effect">
                 Tableau de bord
             </a>
         
             <a href="" class="list-group-item list-group-item-action waves-effect">
                 Saisie</a>
             <a href="" class="list-group-item list-group-item-action waves-effect">
                  Récap annuel</a>
             <a href="" class="list-group-item list-group-item-action waves-effect">
                 FAQ</a>
             <a href="" class="list-group-item list-group-item-action waves-effect">
                 Contacter l'administrateur</a>
                
                      </div>

     </div>
     

 </header>
