{% extends 'base.html.twig' %}
{% block title %}Connexion Saved{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="build/css/modals.css">{% endblock %}
{% block body %}
<div class="container">
    <div class="modals">


        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="groupe1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Groupe 1 - Employé</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">

                            <ul class="group">
                                <li class="space">
                                    Définition : Exécution de tâches prescrites pouvant nécessiter une durée d'adaptation à l'emploi n'excédant pas 2 jours.
                                </li>
                                <li class="space">Autonomie : Les tâches sont effectuées sous le contrôle direct d'un responsable.</li>
                                <li class="space">Technicité : Tâches simples et détaillées fixant la nature du travail et les modes du travail à appliquer.</li>
                                <li>Exemples : Agent administratif, agent d'entretien, gardien, agent d'accueil, placier, stadier, guichetier, aide de cuisine,... </li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">

                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>

        </div>
    </div>
    <div class="modals">

        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="groupe2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Groupe 2 - Employé</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">

                            <ul class="group">
                                <li class="space2">
                                    Définition : Exécution de tâches prescrites exigeant une formation préalable et une adaptation à l'emploi.
                                </li>
                                <li class="space2">Autonomie : Sous le contrôle d'un responsable, le salarié est capable d'éxécuter des tâches sans que lui soit indiqué nécessairement le mode opératoire. Le contrôle des tâches effectue en continu.</li>
                                <li class="space2">Responsabilité : Ne peut pas comporter la responsabilité d'autres salariés. Sa responsabilité pécunaire ne peut dépasser la gestion d'une régie d'avance.</li>
                                <li class="space2">Technicité : Ne peut comporter la programmation des tâches d'autres salariés</li>
                                <li>Exemples : Agent comptable, agent administratif, secrétaire, opérateur de saisie, magasinier, agent d'intendance, chauffeur, ouvrier d'entretien, agent de maintenance, jardinier, hôtesse d'accueil, surveillant d'activité, surveillant de centre de formation, commis de cuisine, ... </li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">

                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->

            </div>
        </div>
    </div>
    <div class="modals">


        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="groupe3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Groupe 3 - Technicien</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">

                            <ul class="group">
                                <li class="space2">
                                    Définition : Exécution d'un ensemble de tâches ou d'une fonction comportant une responsablité technique, ou un savoir-faire technique spécialisé.
                                </li>
                                <li class="space2">Autonomie : Sous le contrôle d'un responsable, le salarié effectue des tâches complexes avec l'initiative des conditions d'éxécution. Le contrôle du travail s'opère par un responsable au terme d'un délai prescrit.</li>
                                <li class="space2">Responsabilité : Ne peut pas comporter la responsabilité d'autres salariés. Sa responsabilité pécunaire ne peut dépasser la gestion d'une régie d'avance.</li>
                                <li class="space2">Technicité : Le salarié peut être chargé d'éxécuter un programme défini et/ou un budget prescrit dans le cadre d'une opération.</li>
                                <li>Exemples : Assistant généraliste, comptable, assistant communication et marketing, statisticien, infographiste, technicien de maintenance, cuisinier, ... </li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">

                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>

        </div>
    </div>
    <div class="modals">


        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="groupe4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Groupe 4 - Technicien</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">

                            <ul class="group">
                                <li class="space2">
                                    Définition : Prise en charge d'une mission, d'un ensemble de tâches ou d'une fonction par délégation requérant une conception des moyens.
                                </li>
                                <li class="space2">Autonomie : Il doit rendre compte périodiquement de l'éxécution de ses missions. </li>
                                <li class="space2">Responsabilité : Le salarié peut planifier l'activité d'une équipe de travail (salariée ou non) et contrôler l'éxécution d'un programme d'activité. Il a une reponsabilité limitée à l'éxécution d'un budget prescrit et d'un programme défini.</li>
                                <li class="space2">Technicité : Sa maîtrise technique lui permet de concevoir les moyens et les modalités de leur mise en oeuvre.</li>
                                <li>Exemples : Assistant spécialisé, secrétaire principale comptable, économe, attaché de presse,assistant communication et marketing, documentaliste, chargé de billeterie, animateur, chef de cuisine, ... </li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">

                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>

        </div>
    </div>
    <div class="modals">


        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="groupe5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Groupe 5 - Technicien</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">

                            <ul class="group">
                                <li class="space2">
                                    Définition : Prise en charge d'une mission, d'un ensemble de tâches ou d'une fonction par délégation requérant une conception des moyens.
                                </li>
                                <li class="space2">Autonomie : Il doit rendre compte périodiquement de l'éxécution de ses missions. </li>
                                <li class="space2">Responsabilité : L'emploi peut impliquer la responsabilité d'un service ou d'une mission ou la gestion d'un équipement. Il peut avoir en responsabilité la gestion du budget global d'un service ou d'un équipement. Il peut bénéficier d'une délégation limitée de responsabilité pour l'embauche de peronnels.</li>
                                <li class="space2">Technicité : Sa maîtrise technique lui permet de concevoir des projets et d'évaluer les résultats de sa mission à partir d'outils existants.</li>
                                <li>Exemples : Assistant de direction, responsable de service, chef comptable, attaché de presse, chargé de la gestion des stocks, informaticien, responsable d'réquipement, responsable de la sécurité, ... </li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">

                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>

        </div>
    </div>
    <div class="modals">


        <!-- Central Modal Medium Success -->
        <div class="modal fade" id="groupe6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Groupe 6 - Cadre</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">

                            <ul class="group">
                                <li class="space2">
                                    Définition : Personnels disposant d'une délégation permanente de responsabilités émanant d'un cadre de niveau supérieur ou des instances statutaires. Ils participent à la définition des objectifs, à l'établissement du programme de travail et à sa conduite ainsi qu'à son évaluation y compris dans ses aspects.
                                </li>
                                <li class="space2">Autonomie : Le contrôle s'appuie sur une évaluation des écarts entre les objectifs et les résultats. </li>
                                <li class="space2">Responsabilité : Les personnels de ce groupe assument leurs responsabilités dans les prévisions budgétaires qu'ils élaborent dans l'exercice de leur mission. Ils peuvent avoir une délégation partielle dans le cadre de la politique du personnel et de représentation auprès de partenaires extérieurs.</li>
                                <li class="space2">Technicité : Sa maîtrise technique lui permet de concevoir des projets et d'évaluer les résultats de sa mission à partir d'outils existants.</li>
                                <li>Exemples : Directeur - général des services/adjoint/administratif &amp; financier /communication &amp; marketing, responsable informatique/comptable, contrôleur de gestion, ... </li>
                            </ul>

                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">

                        <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>

        </div>
    </div>
    <div class="group">
    <div class="group1">
        <button type="button" class="btn-groupe" data-toggle="modal" data-target="#groupe1">
            Groupe 1<p>Employé</p></button>
        <button type="button" class="btn-groupe" data-toggle="modal" data-target="#groupe2">
            Groupe 2<p>Employé</p></button>
        <button type="button" class="btn-groupe" data-toggle="modal" data-target="#groupe3">
            Groupe 3<p>Technicien</p></button></div>
    <div class="group2">
        <button type="button" class="btn-groupe" data-toggle="modal" data-target="#groupe4">
            Groupe 4<p>Technicien</p></button>
        <button type="button" class="btn-groupe" data-toggle="modal" data-target="#groupe5">
            Groupe 5<p>Technicien</p></button>
        <button type="button" class="btn-groupe" data-toggle="modal" data-target="#groupe6">
            Groupe 6<p>Cadre</p></button>
    </div>
</div>
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}
